<div id="<%= dom_id building %>">
  <p>
    <strong>Address:</strong>
    <%= building.address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= building.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= building.city %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= building.zip %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= building.client_id %>
  </p>

</div>
